*{
    font-family: sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

.container{
    padding-top: 40px;
    height: 1024px;
    margin: 0px auto;
    width: 1024px;
}

.post_title{
    width: calc(100% - 20px);
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid silver;
    margin-bottom: 20px;
}

#editable+div{
    min-height: 300px;
    border: 1px solid silver;
    width: 100%;
    outline: none;
}

#editable+div>p{
    margin: 10px;
}

#editable+div>p:before{
    color: #A9A9A9;
}

#editable+div>p:empty:not(:focus):before{
    content: "Post content";
}

/*Button*/
#submit {
    background: #fff;
    -webkit-box-shadow: 0 0 0 2px #32A8E6;
    box-shadow: 0 0 0 2px #32A8E6;
    border: 0;
    height: 40px;
    line-height: 36px;
    width: 120px;
    font-weight: 900;
    font-size: 14px;
    color: #32A8E6;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: pointer;
    outline: none;
    float: right;
    margin-top: 20px;
}
#submit:hover {
    background: #32A8E6;
    color: #fff;
}
#submit.pro {
    background-color: #b5b5b5;
    background-image: url("http://andreasstorm.com/lib/loading.gif");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-box-shadow: 0 0 0 2px #b5b5b5;
    box-shadow: 0 0 0 2px #b5b5b5;
    color: #fff;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}
#submit.finish {
    background: #32A8E6;
    -webkit-box-shadow: 0 0 0 2px #32A8E6;
    box-shadow: 0 0 0 2px #32A8E6;
    -webkit-transition: background-color, border-color 0.2s ease;
    -moz-transition: background-color, border-color 0.2s ease;
    -o-transition: background-color, border-color 0.2s ease;
    -ms-transition: background-color, border-color 0.2s ease;
    transition: background-color, border-color 0.2s ease;
}
#submit.finish:after {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 6px;
    border-bottom: 4px #fff solid;
    border-left: 4px #fff solid;
    z-index: 9999;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: -7px 0px 0px 44px;
    -webkit-animation: fade 0.8s ease forwards;
    -moz-animation: fade 0.8s ease forwards;
    -o-animation: fade 0.8s ease forwards;
    -ms-animation: fade 0.8s ease forwards;
    animation: fade 0.8s ease forwards;
}

/*Table*/

.fixed_headers {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    margin-top: 20px;
}
.fixed_headers th {
    text-decoration: underline;
}
.fixed_headers th,
.fixed_headers td {
    padding: 5px;
    text-align: left;
}

.fixed_headers thead {
    background-color: #333333;
    color: #fdfdfd;
    width: 100%;
}
.fixed_headers td *{
    text-overflow: ellipsis;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
}
.fixed_headers tbody tr:nth-child(even) {
    background-color: #dddddd;
}

/*Upload button*/

.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px; margin-top: 20px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}